.text{
    background-color: rebeccapurple;
    color:darkblue;
}
ul{
    background-color: brown;
    color:darkblue;
}
table{
    background-color: aqua;
    color:darkblue;
}
.img{
    background-color: chartreuse;
    color:darkblue;
}

h4{
    background-color: crimson;
    width:200px;
    padding:5px;
    margin:5px;
    float:right;
}
